//$lineT: 2px;

.q_main_div {
  //border: $lineT solid #007eff;
  display: flex;
  flex-direction: column;

  .wholeDiv {
    //border: $lineT solid #00ffbc;
    width: 100%;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    //border: 3px solid #B3B7BE;
    border-radius: 6px;
    background-color: #D8DCE3;
    min-height: 260px;
  }

  .aDivCtrlPanel_single, .aDivCtrlPanel_dual {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    &::selection {
      cursor: pointer;
      background-color: #7F8A88;
    }

    .ctrlPanel {
      //border: $lineT solid #ffc100;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8dce3;
      margin-top: -42px;
      z-index: 100;
      position: absolute;
      border-radius: 6px 6px 0 0;
      //border-top: 3px solid #B3B7BE;
      //border-left: 3px solid #B3B7BE;
      //border-right: 3px solid #B3B7BE;
    }
  }

  .dualDiv {
    //border: $lineT solid #ff00a8;
    min-width: 100%;
    display: flex;
    //border: 3px solid #B3B7BE;
    border-radius: 6px 6px 0 0;
    background-color: #D8DCE3;
    min-height: 260px;

    @media (max-width: 950px) {
      display: block;
    }

    .leftDiv {
      //border: $lineT solid #00ff29;
      width: 50%;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      //border: 2px dashed rgba(162, 127, 235, 0.33);
      padding-right: 1px;
      @media (max-width: 950px) {
        width: 100%;
      }
    }

    .rightDiv {
      //border: $lineT solid #e7b6ff;
      //border: 2px dashed rgba(162, 127, 235, 0.33);
      width: 50%;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      padding-left: 1px;
      @media (max-width: 950px) {
        width: 100%;
      }
    }
  }

  img {
    //max-width: 100%;
    //max-height: 100%;
  }

  .iconBtn {
    //color: #248C9D;
    color: #248C9D;
    border-radius: 6px;
    margin: 5px 10px 5px 10px;
    background-color: #e6eaf1;

    &:hover {
      background-color: #248C9D;
      color: #000000;
      cursor: pointer;
    }

    &:active {
      color: #ffc100;
    }
  }

  .clearBtn {
    background-color: rgba(147, 112, 219, 0.45);

    &:hover {
      background-color: #248C9D;
      color: #000000;
      cursor: pointer;
    }

    &:active {
      background-color: #ff5b00;
      cursor: pointer;
    }
  }



  .contentChooseBtn {
    margin: 10px;
    color: #7F8A88;

    &:hover {
      color: #000000;
      cursor: pointer;
    }

    &:active {
      color: #49b361;
      cursor: pointer;
    }
  }

  .noContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF3FA;
    margin-top: 10px;

    .innerNoConWrapper {
      background-color: #D7DCE3;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .contentDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rdw-editor-main{
    height: 100%;
  }
}




