$margin: 0px;
$light_gray: #9da9bb;
$lightest_gray: #B6C1D2;
$dark_gray: #5E6E82;
$darkest_gray: #344050;

.forgot_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.long_logo_container {
  grid-area: logo_svg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  #logo_image {
    width: 60%;
  }
}

.show_error {
  //border: $lineT solid #73ff00;
  color: #FF7A7A;
  width: 100%;
  font-size: 14px;
}

.forgot-main-container {
  //grid layout
  display: grid;
  grid-template-rows: auto auto auto auto auto; // i need 18 rows 1fraction each
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  border-radius: 6px;
  padding: 40px;
  background: white;
  max-width: 454px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .lbl_info_txt_wrapper{
    display: grid;
    justify-items: center;
  }

  .label_forgot {
    color: $darkest_gray;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 23px;
    margin-top: 10px;

  }

  .i_txt{
    font-family: 'Poppins', sans-serif;
    font-size: 9.4px;
    color: #5e6e82;
    margin-bottom: 15px;
    margin-top: 3px;
  }

  .input_mail {
    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: $lightest_gray;
      letter-spacing: 0.5px;
    }
  }

  .btn {
    width: 100%;
  }

  .reset_help{
    color: #525b6a;
    justify-self: center;
    font-size: 13px;
    letter-spacing: 0.5px;

    &:hover{
      color: #248C9D;
    }
  }

}








