//$lineT: 3px;


.carouselWraper {
  display: flex;
  align-items: center;
  //border: $lineT solid #ba00ff;
  flex-direction: column;

  .carouselSelf {
    //border: $lineT solid #00ff3e;

    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    max-height: 500px;
    padding-left: 55px;
    padding-right: 55px;

  }
}

.nameAndStars {
  //border: $lineT solid #ff9900;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
