
.privacy_main_wrapper {
  padding: 50px;
  font-family: "Helvetica", serif;
  line-height: 1.7em;

  h2{
    margin-bottom: 20px;
  }

  br{
    margin-bottom: 10px;
  }

  li{
    margin-bottom: 10px;
  }
}
