//$lineT: 1px;
$light_gray: #9da9bb;
$lightest_gray: #B6C1D2;
$dark_gray: #5E6E82;
$darkest_gray: #344050;

$neu-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
$new-shadow-active: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);

.long_logo_container {
  grid-area: logo_svg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  #logo_image {
    width: 60%;
  }
}

.login_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-main-container {
  //grid layout
  display: grid;
  grid-template-columns: auto auto; // i need 2 columns 1fraction each
  grid-template-rows: auto auto auto auto auto 19px auto auto ; // i need 10 rows 1fraction each
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 15px;
  border-radius: 6px;
  padding: 25px;
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background: white;
  max-width: 454px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  grid-template-areas:
"lbl_login lbl_or"
"inpt_mail inpt_mail"
"inpt_pass inpt_pass"
"btn_login btn_login"
"lbl_forgot lbl_forgot"
"hr_centered hr_centered"
"cb_privacy cb_privacy"
"sm_buttons sm_buttons";

  .input_wrappers { //by default no text!
    //border: $lineT solid #00e1ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .show_error {
      //border: $lineT solid #73ff00;
      color: #FF7A7A;
      width: 100%;
      font-size: 14px;

    }
  }

  .terms_indv {
    grid-area: cb_privacy;
    //border: $lineT solid #ff00aa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .show_error {
      //border: $lineT solid #73ff00;
      color: #FF7A7A;
      width: 100%;
      font-size: 14px;
    }
  }

  .label_login {
    grid-area: lbl_login;
    color: $darkest_gray;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 23px;
  }

  .right_items {
    place-self: end;
    align-self: center;
  }

  .label_or {
    grid-area: lbl_or;
    color: $dark_gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
  }

  .input_mail {
    grid-area: inpt_mail;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: $lightest_gray;
      letter-spacing: 0.5px;
    }
  }

  .input_pass {
    grid-area: inpt_pass;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      color: $lightest_gray;
      letter-spacing: 0.5px;
    }
  }

  //.login_checkBox {
  //  grid-area: cb_login;
  //  color: $dark_gray;
  //}

  .lbl_forgot_ps {
    grid-area: lbl_forgot;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
  }

  .mail_login_btn {
    grid-area: btn_login;
  }
  .btn{
    width: 100%;
    transition: 0.5s;
  }
}








