//$lineT: 5px;

.main_wrapper {
  //border: $lineT solid #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;


  .page_content_wrapper {
    max-width: 1440px;
    width: 100%;
    //border: $lineT solid #57ff00;
    flex-grow: 1;
    //background-color: #9da9bb;

  }

  .custom-shape-divider-top-1612728068 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }


}





