//$lineT: 1px;

.main_wrapper {
  //border: $lineT solid #00e1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;

  .page_content_wrapper{
    max-width: 1440px;
    width: 100%;
    //border: $lineT solid #57ff00;
    flex-grow: 1;
  }
}





