//MEDIA QUERY MANAGER
/*

600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] full desktop style.
1800px + :    big desktop.
*/
@mixin respond($media) {
  @if $media == phone {
    @media (max-width: 600px) { // - 600px: small devices
      @content
    }
  }
  @if $media == tab_port {
    @media (min-width: 600px) { // 600px - 900px:      Phone
      @content
    }
  }
  @if $media == tab_land {
    @media (min-width: 1200px) {
      @content
    }
  }
  @if $media == big_desktop {
    @media (min-width: 1800px) {
      @content
    }
  }
}

@include respond(phone) {
  .main_pages_wrapper {
    //background-color: lightgreen;
  }
}

@include respond(tab_port) {
  .main_pages_wrapper {
    //background-color: yellow;
  }
}

@include respond(tab_land) {
  .main_pages_wrapper {
    //background-color: red;
  }
}

@include respond(big_desktop) {
  .main_pages_wrapper {
    //background-color: darkgreen;
  }
}

.main_pages_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  //border: 5px solid #00e7ff;
  max-width: 1440px;
  min-height: 100vh;
}

.navbar_wrapper{

}






